{% extends "marketplace/base.html" %}

{% block title %}apps.gov home{% endblock %}

{% block main_content %}
  <section class="usa-hero">
    <div class="usa-grid">
      <div class="usa-hero-callout usa-section-dark">
        <h2><span class="usa-hero-callout-alt">Get your team the cloud software it needs.</span></h2>
        <p>Today most apps are built in the cloud, at a breakneck pace. But government remains earthbound and slow, and it's often an uphill battle for civil servants to get their hands on these useful tools. We want to change that.</p>
        <a class="usa-button usa-button-big usa-button-secondary" href="#products">Shop SaaS products</a>
      </div>
    </div>
  </section>
  <section class="usa-grid usa-section">
    <h2 id="products">Products</h2>
    {% for product in ALL_PRODUCTS %}
      <div class="usa-grid" style="padding-bottom: 2em">
        <div class="usa-width-one-third">
          <p><img src="{{ product.icon }}" alt="" width="64" height="64"></p>
        </div>
        <div class="usa-width-two-thirds">
          <h3>{{ product.name }}</h3>
          <p style="color: gray">{{ product.category }}</p>
          <p>{{ product.description }}</p>
          <p><img src="{{ product.primary_screenshot }}" alt=""></p>
          <a class="usa-button usa-button-secondary" href="{{ product.detail_url }}">Get {{ product.name }}</a>
        </div>
      </div>
    {% endfor %}
    </ul>
  </section>
{% endblock %}
