{% extends "marketplace/base.html" %}

{% block title %}apps.gov home{% endblock %}

{% block main_content %}
  <section class="usa-hero">
    <div class="usa-grid">
      <div class="usa-hero-callout usa-section-dark">
        <h2><span class="usa-hero-callout-alt">Get your team the cloud software it needs.</span></h2>
        <p>Today most apps are built in the cloud, at a breakneck pace. But government remains earthbound and slow, and it's often an uphill battle for civil servants to get their hands on these useful tools. We want to change that.</p>
        <a class="usa-button usa-button-big usa-button-secondary" href="#">Shop SaaS products</a>
      </div>
    </div>
  </section>
  <section class="usa-grid usa-section">
    <h2>Products</h2>
    <p>We don't have any yet. Check back soon.</p>
  </section>
{% endblock %}
